Repository sika-training-examples/2022-07-21--t-mobile-terraform-examle: changes, and which GitLab CI jobs are due for each by the changed paths.
All: plan:core, plan:dev, plan:prod, apply:core, apply:dev, apply:prod

.gitlab-ci.yml:

image: sikalabs/ci

stages:
  - plan
  - apply

cache:
  paths:
    - env/core/.terraform/**/*
    - env/dev/.terraform/**/*
    - env/prod/.terraform/**/*

.plan:
  stage: plan
  script:
    - cd env/$ENV
    - make tf-init GITLAB_USERNAME=ondrejsika GITLAB_TOKEN=$ONDREJSIKA_TOKEN
    - shopt -s expand_aliases
    - alias convert_report="jq -r '([.resource_changes[]?.change.actions?]|flatten)|{\"create\":(map(select(.==\"create\"))|length),\"update\":(map(select(.==\"update\"))|length),\"delete\":(map(select(.==\"delete\"))|length)}'"
    - terraform plan -out=terraform.tfplan
    - terraform show --json terraform.tfplan | convert_report > plan.json
  artifacts:
    paths:
      - ./env/$ENV/terraform.tfplan
    reports:
      terraform: ./env/$ENV/plan.json

.apply:
  stage: apply
  script:
    - cd env/$ENV
    - make tf-init GITLAB_USERNAME=ondrejsika GITLAB_TOKEN=$ONDREJSIKA_TOKEN
    - terraform apply terraform.tfplan

.core:
  before_script:
    - cp $CORE_TFVARS ./env/core/terraform.tfvars
  variables:
    ENV: core

.dev:
  before_script:
    - cp $DEV_TFVARS ./env/dev/terraform.tfvars
  variables:
    ENV: dev

.prod:
  before_script:
    - cp $PROD_TFVARS ./env/prod/terraform.tfvars
  variables:
    ENV: prod

plan:core:
  extends:
    - .plan
    - .core
  only:
    changes:
      - env/core/**
      - env/core/**/*

plan:dev:
  extends:
    - .plan
    - .dev
  only:
    changes:
      - env/dev/**
      - env/dev/**/*
      - apps/**
      - apps/**/*
      - modules/**
      - modules/**/*

plan:prod:
  extends:
    - .plan
    - .prod
  only:
    changes:
      - env/prod/**
      - env/prod/**/*
      - apps/**
      - apps/**/*
      - modules/**
      - modules/**/*


apply:core:
  extends:
    - .apply
    - .core
  needs:
    - plan:core
  only:
    refs:
      - live-core
    changes:
      - env/core/**
      - env/core/**/*

apply:dev:
  extends:
    - .apply
    - .dev
  needs:
    - plan:dev
  only:
    refs:
      - live-dev
    changes:
      - env/dev/**
      - env/dev/**/*
      - apps/**
      - apps/**/*
      - modules/**
      - modules/**/*

apply:prod:
  extends:
    - .apply
    - .prod
  needs:
    - plan:prod
  only:
    refs:
      - live-prod
    changes:
      - env/prod/**
      - env/prod/**/*
      - apps/**
      - apps/**/*
      - modules/**
      - modules/**/*

feat(modules/vm): Remove reserved IPs
  modules/vm/main.tf
Due: plan:dev, plan:prod, apply:dev, apply:prod

feat(apps/counter): Add VPC
  apps/counter/main.tf
Due: plan:dev, plan:prod, apply:dev, apply:prod

fix(apps/counter): Add name to VPC
  apps/counter/main.tf
Due: plan:dev, plan:prod, apply:dev, apply:prod

feat(ci): simlify only/except
  .gitlab-ci.yml
Due: none

feat(modules/vm): Add vpc_uuid
  modules/vm/main.tf
Due: plan:dev, plan:prod, apply:dev, apply:prod

feat(modules/redis): Add vpc_uuid
  modules/redis/main.tf
Due: plan:dev, plan:prod, apply:dev, apply:prod

feat(app/counter): Use VPC
  apps/counter/main.tf
Due: plan:dev, plan:prod, apply:dev, apply:prod

fix(modules/redis): Fix vpc param name
  modules/redis/main.tf
Due: plan:dev, plan:prod, apply:dev, apply:prod

fix(apps/counter): Add vpc to loadbalancer
  apps/counter/main.tf
Due: plan:dev, plan:prod, apply:dev, apply:prod

docs: Clean up README
  README.md
Due: none

chore(Makefile): add gen-docs target
  Makefile
Due: none

[auto] docs: Terraform generated docs
  apps/counter/README.md
  env/core/README.md
  env/dev/README.md
  env/prod/README.md
  modules/redis/README.md
  modules/vm/README.md
Due: plan:core, plan:dev, plan:prod, apply:core, apply:dev, apply:prod
